<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=620">
    <title>HTML5 Demo: geolocation</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://edekoodon.herokuapp.com/js/ui/jquery.ui.map.js"></script>
<script type="text/javascript" src="http://edekoodon.herokuapp.com/js/ui/jquery.ui.map.services.js"></script>



    </head>
    <body>
      <section id="wrapper">
         <h1>Geolocation</h1>
        <div id="json">Nothing</div>
      </header>
      <meta name="viewport" content="width=620" />
      
      <article>
      <p>Finding your location: <span id="status">checking...</span></p>
      </article>
      <div id="mapcanvas"></div>
      <script src="http://edekoodon.herokuapp.com/js/Map.js"></script>
    <footer></footer>
  </section>
  
  
</body>
</html>